*{
    margin: 0;
    padding: 0;
    text-decoration:none;
    list-style-type: none;
    font-family: 'Libre Franklin', sans-serif;
}
.fas, .far{
    cursor: pointer;
}
/* .fas, .far:hover{

} */
.nav{
    display: flex;
    /* justify-content: space-evenly; */
    height: 10vh;
    align-items: center;
    position: fixed;
    width: 100%;
}
.logo{
    /* margin-right: 10em; */
    display: flex;
    width: 17vw;
    height: 7vh;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    gap: .5em;
}
.logo h3{
    font-size: 1.3em;
    color: #5f6368;
}

.logo a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 0.5em; */
}
.logo a img{
    height: 2.1em;

}
.searchContainer {
    display: inline-flex;
    /* position: relative; */
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    overflow: hidden;
    width: 53vw;
    background-color: rgb(233, 227, 255);
    height: 8vh;
  }
  .searchIcon, .sliderIcon{
     color: rgb(114, 114, 114);
      width: 8%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
  }
  /* .sliderIcon{
      width: 5%;
  } */
  
  .searchBox {
    border: none;
    width: 45vw;
    background-color: rgb(233, 227, 255);
    font-size: 1.1em;
  }
  .settings{
      
      width: 18vw;
      display: flex;
      justify-content: flex-end;
      gap: 1em;
      font-size: 1.4em;
      color: #5f6368;
  }
  .google-img{
      width: 11vw;
      /* background-color: burlywood; */
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 20px;
      gap: 2em;
  }
  .google-img img{
    height: 2.5em;
    
    border-radius: 50%
  }
  .dots{
      display: flex;
      gap: 1px;
  }

  .side-bar{
      position: fixed;
      height: 85vh;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      width: 16vw;
      align-items: flex-start;
      padding-left: 2vw;
      top: 10vh;
  }
  .list{
      display: flex;
      height: 7vh;
      gap: 2em;
      justify-content: flex-start;
      width: 12vw;
      align-items: center;
  }
  .list h4{
      font-size: 0.8em;
  }
  .new-button button{
      width: 10em;
      height: 4em;
      border-radius: 50px;
      cursor:pointer;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: 1px solid;
      background-color: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .new-button button i{
      font-size: 2em;
  }
  
  .new-button button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .progress-bar {
    background-color: #5f6368;
    height: 0.5em;
    width: 5em;      
    border-radius: 8px;
    overflow: hidden;
 }
 
 .progress-bar__inner {
   position: relative;
   display: block;
   height: 100%;
   background-color: #def847;
 }

 .top-main{
     position: fixed;
     top: 12vh;
     z-index: 2;
     right: 10vw;
 }
 .main{
     height: 80vh;
     width: 75vw;
     z-index: 1;
    
     position: absolute;
     top:20vh;
     left: 18vw;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center;
     overflow-y: scroll; 
     gap:2em;
 }
 .main::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
 .toggle-main{
   gap:20vh
 }
 .folder{
     height: 25vh;
     width: auto;
     display: flex;
     flex-direction: column;
 }
 .folder img{
     height: 25vh;
     width: auto
 }
 /* .folder-flex{
     display: flex;
     flex-direction: column;
 } */
  
 